// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

img {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.bg-container {
  height: 100vh;
}

.menu-bg-inner {
  width: 1280px;
  height: 720px;
  overflow: hidden;
}

.menu-bg-show {
  width: 1480px;
  height: 855px;
}

.menu-bg-inner,
.menu-bg-show {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) !important;
}

.explore-overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  pointer-events: none;
  .explore-overlay-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    margin: auto;
    text-align: center;
    color: white;
  }
  h1 {
    font-size: 2rem;
    font-style: italic;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 60px;
    letter-spacing: 1px;
    padding-top: 1rem;
    sup {
      font-size: 40%;
    }
  }
  p {
    font-size: 1rem;
  }
  .sign-up-btn {
    z-index: 8;
    padding-bottom: 4rem;
    pointer-events: none;
    button {
      margin-bottom: 1.6rem;
      padding: 0.2rem 0.2rem;
      border-radius: 4px;
      font-size: 1.4rem;
      font-weight: bolder;
      text-transform: uppercase;
      pointer-events: all;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.nav-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.overwatch-logo {
  display: flex;
  align-items: center;
  position: relative;
  top: 2%;
  left: 2%;
}

.title {
  margin-left: 1rem;
  position: relative;
  text-align: center;
  padding: 0.6rem 1rem;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  border-left: 1px solid;
}

.logo {
  svg {
    pointer-events: all;
    height: 5rem;
    width: 5rem;
  }
  &:hover {
    transform: scale(1.1);
    transition: transform 0.4s;
  }
}

.overwatch-menu {
  position: absolute;
  top: 3%;
  right: 2%;
  a {
    background: transparent;
    border: none;
    pointer-events: all;
    &:hover {
      cursor: pointer;
      filter: brightness(1.4);
      &:before {
        content: "vist playoverwatch.com";
        position: absolute;
        top: -45%;
        right: -190%;
        font-size: 1rem;
        font-weight: 400;
        text-transform: uppercase;
        width: 24rem;
        animation: menuScroll 0.3s;
      }
    }
  }
}

.overwatch-scroll-link {
  position: absolute;
  left: 47%;
  bottom: 4%;
  transform: translate(0, -47%);
  color: white;
  pointer-events: all;
  cursor: pointer;
  &:hover {
    p {
      transform: scale(1.3) rotate(90deg);
    }
  }
  h4 {
    font-size: 1.4rem;
    text-transform: uppercase;
  }
  p {
    position: absolute;
    transform: rotate(90deg);
    font-size: 1.3rem;
    left: 43%;
    top: 100%;
    pointer-events: all;
  }
}

.bg-sky {
  z-index: 1;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  img {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.bg-coast {
  z-index: 2;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  img {
    position: absolute;
    bottom: 0px;
    left: 0;
  }
}

.bg-ship {
  z-index: 3;
  transform-style: preserve-3d;
  width: 100%;
  height: 60%;
  img {
    position: absolute;
    top: 0px;
    left: 20%;
  }
}

.bg-ground {
  z-index: 2;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  img {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.tracer-wrapper {
  position: absolute;
  bottom: 0;
  z-index: 8;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  .hero-tracer {
    position: absolute;
    bottom: 0;
    left: -5%;
    height: 70%;
  }

  .tracer-fx {
    z-index: 8;
    position: absolute;
    top: 32.5%;
    left: -6%;
    height: 100px;
    width: 100px;
  }
}

.tracer-btn {
  position: absolute;
  top: 32%;
  right: -9%;
}

.enemy {
  z-index: 6;
  height: 100%;
  width: 100%;
  .enemy-bot {
    position: absolute;
    bottom: 20%;
    right: 19%;
  }
}

.enemy-btn {
  position: absolute;
  top: -17%;
  left: 10%;
}

.lucio-wrapper {
  z-index: 6;
  height: 100%;
  width: 100%;
  .lucio {
    position: absolute;
    top: 10%;
    right: 5%;
  }
  .lucio-fx {
    position: absolute;
    top: 31%;
    right: -2%;
  }
}

.lucio-btn {
  position: absolute;
  left: -25%;
  top: 20%;
  .explore-button {
    float: right;
  }
  .explore-circle {
    left: 92.5%;
  }
}

.explore-link {
  z-index: 6;
  position: absolute;
  pointer-events: all;
  top: 10%;
  left: 10%;
  bottom: 10%;
  right: 10%;
  &:hover {
    cursor: pointer;
  }
}

.explore-button {
  width: 11rem;
  background: rgba($color: #3b3b3b, $alpha: 0.6);
  padding: 0.8rem;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 1.1rem;
  white-space: nowrap;
  overflow: hidden;
  float: left;
  border: 1px solid rgba($color: #ffffff, $alpha: 0.4);
  border-radius: 2px;
  animation: scrollOut 1s;
}

.explore-circle {
  background: white;
  position: absolute;
  top: 25%;
  left: -6.5%;
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  border-radius: 50%;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: white;
  }
  .explore-circle-icon {
    position: absolute;
    top: 50%;
    left: 0;
    bottom: 0;
    right: 0;
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      width: 45%;
      height: 2px;
      border-radius: 2px;
      background-color: black;
      transform: translate(-50%, -50%) rotate(90deg);
    }
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      width: 45%;
      height: 2px;
      border-radius: 2px;
      background-color: black;
      transform: translate(-50%, -50%);
    }
  }
}

.scale {
  transform: scale(1.1);
  transition: all 0.3 linear;
}

.btn-dark {
  background: rgba($color: #3b3b3b, $alpha: 0.8);
  transition: all 0.3s linear;
}

.bg-darken {
  background-color: rgba($color: #3b3b3b, $alpha: 0.2);
  z-index: 20;
  transition: all 0.3s linear;
}

.bright {
  filter: brightness(1.2);
  z-index: 100 !important;
  transition: filter 0.3s linear;
}

.co-op-grid {
  display: grid;
  grid-template-columns: 45% 55%;
  height: 100vh;
  .do {
    height: 100%;
    width: 100%;
  }
  .co-op-logo {
    height: 4rem;
    padding: 2rem 0 0 1rem;
  }
  .title {
    font-size: 1.3rem;
    color: black;
    border-color: black;
  }
}

.co-op-content {
  padding: 5rem 4rem;
  h1 {
    font-size: 2rem;
    font-style: italic;
    text-transform: uppercase;
    line-height: 1;
  }
  .co-op-accordion {
    padding: 0.7rem 0;
  }
}

.co-op-mobile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 1.5rem;
  .co-op-btn {
    padding: 0.2rem 1rem;
    margin: auto;
    background: black;
    color: white;
    text-transform: uppercase;
    transition: all 0.3s;
    &:hover {
      transform: scale(1.02);
    }
    span {
      margin-right: 1rem;
      padding-bottom: 0.2rem;
    }
  }
}

.co-op-mobile-title {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 6rem;
  background-color: #f6f6f6;
  h1 {
    font-size: 1.6rem;
  }
}

.accordion-section {
  display: flex;
  flex-direction: column;
  padding: 0.7rem 0;
  p {
    line-height: 1.3;
    letter-spacing: 1px;
    overflow: scroll;
  }
}

.accordion {
  background: #181818;
  color: white;
  cursor: pointer;
  padding: 0.5rem 1rem;
  outline: none;
  border-radius: 2px;
  text-align: left;
  transition: all 0.3s ease;
  font-weight: 700;
  font-size: 1.3rem;
  text-transform: uppercase;
  &:hover {
    transform: scale(1.02);
    background: #000000;
    transition: transform 0.3s;
  }
}

.active {
  background: #000000;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-left: 8px solid #ef6437;
    height: 100%;
    transform-origin: left;
    transition: all 0.3s ease;
  }
  &:hover {
    transform: scale(1);
    cursor: default;
  }
}

.accordion-section {
  background: white;
  overflow: hidden;
  transition: max-height 0.6s ease;
}

.accordion-text {
  font-weight: 400;
  font-size: 1rem;
  padding: 1.1rem 0;
}

.carousel {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  .slider {
    height: 100%;
    display: flex;
  }
}

.back-btn {
  z-index: 2;
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: 2%;
  right: 2%;
  background: white;
  border-radius: 50%;
  transition: scale 0.3s;
  &:hover {
    cursor: pointer;
    filter: brightness(1.4);
    transform: scale(1.05);
    &::after {
      content: "back to menu";
      position: absolute;
      top: 30%;
      right: -350%;
      font-size: 1.3rem;
      font-weight: 700;
      text-transform: uppercase;
      color: white;
      width: 24rem;
      animation: backBtnScroll 0.3s;
    }
  }
  &::before {
    content: "-";
    font-size: 5rem;
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.carousel-background {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 0.3s ease-in-out;
  .carousel-controls {
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      color: white;
      font-size: 1rem;
      font-weight: bolder;
    }
  }
}

.slide-arrow {
  color: rgba($color: #ffffff, $alpha: 0.6);
  cursor: pointer;
  font-size: 2rem;
  position: fixed;
  top: 50%;
  &:hover {
    color: rgba($color: #ffffff, $alpha: 1);
  }
}

.slide-arrow.right {
  right: 1rem;
}

.slide-arrow.left {
  left: 46%;
}

.dot {
  width: 1rem;
  height: 1rem;
  padding: 0.4rem;
  margin: 0.2rem;
  border: 2px solid white;
  border-radius: 50%;
  background-color: transparent;
  &:hover {
    cursor: pointer;
  }
}

.dot-black-active {
  background: black;
}

.dot-black {
  border: 2px solid black;
}

.dot-white-active {
  background: white;
}

.dot-white {
  border: 2px solid white;
}

.mobile-section {
  width: 100%;
  padding-bottom: 1rem;
  .section-title {
    font-size: 1.4rem;
    padding: 1rem 0;
    font-weight: bolder;
    text-align: center;
    width: 70%;
    margin: auto;
  }
  .section-content {
    width: 70%;
    margin: auto;
    line-height: 1.4;
  }
}

.mobile-carousel {
  position: relative;
  min-height: 25rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 0.3s ease-in-out;
  div {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 2rem;
    color: white;
    font-size: 1rem;
    background-color: rgba($color: #1b1b1b, $alpha: 0.6);
  }
}

.whats-next-show {
  height: 50rem;
  overflow: hidden;
}

.whats-next-inner {
  display: none;
}

.full-width {
  width: 100%;
  height: 100%;
}

.whats-next-bg {
  top: -35%;
}

.rein-wrapper {
  width: 100%;
  position: absolute;
  bottom: -4%;
  right: -19%;
}

.tracer-wrapper {
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -37%;
  left: -3%;
}

.mei-wrapper {
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -41%;
  left: 52%;
}

.echo-wrapper {
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -41%;
  right: 10%;
}

.brig-wrapper {
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -70%;
  right: 2%;
}

.genji-wrapper {
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -76%;
  left: 70%;
}

.mercy-wrapper {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 30%;
  left: 34%;
}

.winston-wrapper {
  position: relative;
  z-index: 2;
  top: 32%;
  left: 64%;
}

.winston {
  position: absolute;
  bottom: 0;
  right: 10%;
}

.overlay-text-call {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: center;
  padding: 0.8rem;
  h3 {
    font-size: 2rem;
  }
  p {
    margin: 0.4rem 0;
    max-width: 30rem;
    font-size: 1.2rem;
    color: rgba($color: #1b1b1b, $alpha: 0.8);
  }
  .buy-btn {
    pointer-events: all;
    padding: 0.4rem 1rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    background: #e26136;
    transition: transform 0.3s;
    &:hover {
      cursor: pointer;
      transform: scale(1.02);
    }
  }
}

.overlay-container {
  text-align: center;
  padding: 0 1rem;
  h2 {
    padding: 0.2rem 0;
  }
  .overlay-info {
    padding: 0.4rem 0;
    h3 {
      padding: 0.2rem 0;
    }
    p {
      color: rgba($color: #1b1b1b, $alpha: 0.8);
    }
  }
}

.whats-next-mobile {
  padding-top: 6rem;
  h1 {
    position: absolute;
  }
}

@keyframes backBtnScroll {
  0% {
    right: -800%;
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    right: -350%;
    opacity: 1;
  }
}

@keyframes scrollOut {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes menuScroll {
  0% {
    right: -800%;
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    right: -190%;
    opacity: 1;
  }
}

@media (min-width: 960px) {
  .menu-bg {
    min-height: 0;
    overflow: hidden;
    position: relative;
  }
  .section {
    height: 100vh;
  }
  .mobile-carousel {
    div {
      font-size: 1rem;
    }
  }
  .whats-next-inner {
    display: block;
  }

  .whats-next-mobile {
    display: none;
  }

  .overlay-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    .overlay-flex {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .overlay-content {
        padding-top: 8rem;
        display: flex;
        justify-content: center;
        h2 {
          max-width: 18rem;
          font-weight: 600;
          font-size: 1.8rem;
          text-align: end;
          padding: 0 2rem;
        }
        .overlay-info {
          max-width: 20rem;
          padding: 0 0.3rem;
          word-wrap: normal;
          h3 {
            line-height: 1.2;
            word-spacing: 0.2rem;
          }
          p {
            padding-top: 0.2rem;
            word-spacing: 0.1rem;
            line-height: 1.4;
          }
        }
      }
    }
  }

  .overlay-text-call {
    color: white;
    h3 {
      font-size: 2.3rem;
    }
    p {
      color: white;
      margin: 1rem 0;
      max-width: 30rem;
      font-size: 1.5rem;
    }
  }
}
@media (min-width: 1280px) {
  .menu-bg-show {
    width: 1800px;
    height: 1040px;
  }
  .menu-bg-inner {
    width: 1600px;
    height: 900px;
  }
  .explore-overlay .explore-overlay-content {
    width: 35%;
    margin-top: 0.5rem;
  }
  .lucio {
    top: 10%;
    right: 1%;
  }
  .lucio-fx {
    top: 27%;
    right: -1%;
  }
  .hero-tracer {
    bottom: 0;
    left: 0;
  }
  .tracer-fx {
    left: -2%;
    top: 34.2%;
  }
}

@media (min-width: 1600px) {
  .menu-bg-show {
    width: 2760px;
    height: 1594px;
  }
  .menu-bg-inner {
    width: 2560px;
    height: 1440px;
  }
}
