// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

img {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.bg-container {
  height: 100vh;
}

.menu-bg-inner {
  width: 1280px;
  height: 720px;
  overflow: hidden;
}

.menu-bg-show {
  width: 1480px;
  height: 855px;
}

.menu-bg-inner,
.menu-bg-show {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) !important;
}

.explore-overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  pointer-events: none;
  .explore-overlay-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    margin: auto;
    text-align: center;
    color: white;
  }
  h1 {
    font-size: 2rem;
    font-style: italic;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 60px;
    letter-spacing: 1px;
    padding-top: 1rem;
    sup {
      font-size: 40%;
    }
  }
  p {
    font-size: 1rem;
  }
  .sign-up-btn {
    z-index: 8;
    padding-bottom: 4rem;
    pointer-events: none;
    button {
      margin-bottom: 1.6rem;
      padding: 0.2rem 0.2rem;
      border-radius: 4px;
      font-size: 1.4rem;
      font-weight: bolder;
      text-transform: uppercase;
      pointer-events: all;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.explore-nav-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  .overwatch-logo {
    display: flex;
    align-items: center;
    position: relative;
    top: 2%;
    left: 2%;
    .title {
      margin-left: 1rem;
      position: relative;
      text-align: center;
      padding: 0.6rem 1rem;
      font-size: 1.4rem;
      font-weight: 600;
      text-transform: uppercase;
      color: white;
      border-left: 1px solid rgba($color: #ffffff, $alpha: 0.4);
    }
  }
  .logo {
    svg {
      pointer-events: all;
      height: 6rem;
      width: 6rem;
    }
  }

  .overwatch-menu {
    position: absolute;
    top: 3%;
    right: 2%;
    a {
      background: transparent;
      border: none;
      pointer-events: all;
      &:hover {
        cursor: pointer;
        filter: brightness(1.4);
        &:before {
          content: "vist playoverwatch.com";
          position: absolute;
          top: -45%;
          right: -190%;
          font-size: 1rem;
          font-weight: 400;
          text-transform: uppercase;
          color: white;
          width: 24rem;
          animation: menuScroll 0.7s;
        }
      }
      svg {
        fill: white;
      }
    }
  }

  .overwatch-story {
    position: absolute;
    left: 47%;
    bottom: 4%;
    transform: translate(0, -47%);
    color: white;
    pointer-events: all;
    cursor: pointer;
    &:hover {
      p {
        transform: scale(1.3) rotate(90deg);
      }
    }
    h4 {
      font-size: 1.4rem;
      text-transform: uppercase;
    }
    p {
      position: absolute;
      transform: rotate(90deg);
      font-size: 1.3rem;
      left: 43%;
      top: 100%;
      pointer-events: all;
    }
  }
}

.bg-sky {
  z-index: 1;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  img {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.bg-coast {
  z-index: 2;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  img {
    position: absolute;
    bottom: 0px;
    left: 0;
  }
}

.bg-ship {
  z-index: 3;
  transform-style: preserve-3d;
  width: 100%;
  height: 60%;
  img {
    position: absolute;
    top: 0px;
    left: 20%;
  }
}

.bg-ground {
  z-index: 4;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  img {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.tracer-wrapper {
  position: absolute;
  bottom: 0;
  z-index: 6;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  .hero-tracer {
    position: absolute;
    bottom: 0;
    left: -5%;
    height: 70%;
  }

  .tracer-fx {
    z-index: 6;
    position: absolute;
    top: 32.5%;
    left: -6%;
    height: 100px;
    width: 100px;
  }
}

.tracer-btn {
  position: absolute;
  top: 32%;
  right: -9%;
}

.enemy {
  z-index: 6;
  height: 100%;
  width: 100%;
  .enemy-bot {
    position: absolute;
    bottom: 20%;
    right: 19%;
  }
}

.enemy-btn {
  position: absolute;
  top: -17%;
  left: 10%;
}

.lucio-wrapper {
  z-index: 6;
  height: 100%;
  width: 100%;
  .lucio {
    position: absolute;
    top: 10%;
    right: 5%;
  }
  .lucio-fx {
    position: absolute;
    top: 31%;
    right: -2%;
  }
}

.lucio-btn {
  position: absolute;
  left: -25%;
  top: 20%;
  .explore-button {
    float: right;
  }
  .explore-circle {
    left: 92.5%;
  }
}

.explore-link {
  z-index: 6;
  position: absolute;
  pointer-events: all;
  top: 10%;
  left: 10%;
  bottom: 10%;
  right: 10%;
  &:hover {
    cursor: pointer;
  }
}

.explore-button {
  width: 11rem;
  background: rgba($color: #3b3b3b, $alpha: 0.6);
  padding: 0.8rem;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 1.1rem;
  white-space: nowrap;
  overflow: hidden;
  float: left;
  border: 1px solid rgba($color: #ffffff, $alpha: 0.4);
  border-radius: 2px;
  animation: scrollOut 1s;
}

.explore-circle {
  background: white;
  position: absolute;
  top: 25%;
  left: -6.5%;
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  border-radius: 50%;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: white;
  }
  .explore-circle-icon {
    position: absolute;
    top: 50%;
    left: 0;
    bottom: 0;
    right: 0;
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      width: 45%;
      height: 2px;
      border-radius: 2px;
      background-color: black;
      transform: translate(-50%, -50%) rotate(90deg);
    }
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      width: 45%;
      height: 2px;
      border-radius: 2px;
      background-color: black;
      transform: translate(-50%, -50%);
    }
  }
}

.scale {
  transform: scale(1.1);
  transition: all 0.3 linear;
}

.btn-dark {
  background: rgba($color: #3b3b3b, $alpha: 0.8);
  transition: all 0.3s linear;
}

.bg-darken {
  background-color: rgba($color: #3b3b3b, $alpha: 0.2);
  z-index: 20;
  transition: all 0.3s linear;
}

.bright {
  filter: brightness(1.2);
  z-index: 100 !important;
  transition: filter 0.3s linear;
}

@keyframes scrollOut {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes menuScroll {
  0% {
    right: -800%;
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    right: -190%;
    opacity: 1;
  }
}

@media (min-width: 960px) {
  .menu-bg {
    min-height: 0;
    overflow: hidden;
    position: relative;
  }
  .section {
    height: 100vh;
  }
}

@media (min-width: 1280px) {
  .menu-bg-show {
    width: 1800px;
    height: 1040px;
  }
  .menu-bg-inner {
    width: 1600px;
    height: 900px;
  }
  .explore-overlay .explore-overlay-content {
    width: 35%;
    margin-top: 0.5rem;
  }
  .lucio {
    top: 10%;
    right: 1%;
  }
  .lucio-fx {
    top: 27%;
    right: -1%;
  }
  .hero-tracer {
    bottom: 0;
    left: 0;
  }
  .tracer-fx {
    left: -2%;
    top: 34.2%;
  }
}

@media (min-width: 1600px) {
  .menu-bg-show {
    width: 2760px;
    height: 1594px;
  }
  .menu-bg-inner {
    width: 2560px;
    height: 1440px;
  }
}
